.button {
    border: none;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #0000005e;
}

.large {
    padding: 22px;
}

.small {
    padding: 10px;
    margin-right: 5px;
}

.medium {
    padding: 10px;
    width: 100px;
    margin-right: 5px;
}

.positive {
    background-color: #0c8044;
    color: white;
}
.positive:hover {
    background-color:  #0a6636;
}

.negative {
    background-color: #cc2929;
    color: white;
}
.negative:hover {
    background-color: #a32121;
}

.general {
    background-color: #f5efe7;
    color: black;
}
.general:hover {
    background-color: #9b64002c;
}

.theme {
    background-color: #0161fe;
    color: white;
}
.theme:hover {
    background-color: #004dc7;
}

.disabled {
    cursor: not-allowed;
    opacity: 25%;
    background-color: gray;
}

@media (max-width: 768px){ 

    .large {
        padding: 12px;
        width: auto;
    }

    .medium {
        margin-top: 2px;
        width: 75px;
    }
}

@media (max-width: 425px){ 

    .small {
        font-size: revert;   
    }
    
}
